body 
{
    background-color: #faf9f1;
    margin: 0;
}

.bg-icon 
{
    position: absolute;
    bottom: -400px;
    right: 10px;
    font-size: 1500px;
    color: #005eff;
    opacity: 0.1;
    transform: rotate(210deg);
    pointer-events: none;
    z-index: -1;
}

/* === 헤더 === */
header 
{
    height: 50px;
    background-color: #005eff;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.header-right
{
    display: flex;
    gap: 10px;
}

.logo 
{  
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
}

.logo-text 
{ 
    padding-left: 10px;
}

.header-btn
{
    background-color: #ffffff;
    color: #005eff;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
}

.back-btn:hover 
{
    transition: background-color 0.3s, color 0.3s;
    background-color: #3e85ff;
    color: #ffffff;
}

.logout-btn {
    background-color: #ffffff;
    color: #005eff;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.logout-btn:hover
{
    transition: background-color 0.3s, color 0.3s;
    background-color:#d32f2f;
    color:#ffffff;
}

.back-profile, .logout-profile
{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    transition: opacity 0.2s;
}

.back-profile i
{
    text-decoration: none;
    font-size: 24px;
    margin-right: 8px;
}

.logout-profile i
{
    text-decoration: none;
    font-size: 24px;
    margin-right: 8px;
}

.mypage-container 
{
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
    padding-bottom: 100px;
}

.profile-section 
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 30px;
    border-bottom: 2px solid #f0f0f0;
    margin-bottom: 50px;
}

.profile-info 
{
    display: flex;
    align-items: center;
    gap: 25px;
}

.profile-img 
{
    width: 110px;
    height: 110px;
    background: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&auto=format&fit=crop&w=800&q=80");
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    color: #bbbbbb;
    border: 4px solid #ffffff;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.profile-text h2 
{
    font-size: 26px;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
    color: #000000;
}

.profile-text strong 
{
    font-size: 34px;
    font-weight: 700;
    color: #000000;
}

.change-profile
{
    font-size: 15px;
    color: #005eff;
    font-weight: 700;
    background-color: #f0f7ff;
    padding: 10px 16px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    cursor: pointer;
}

.change-profile-text:hover
{
    color: #0046c0;
}

.list-section 
{
    margin-bottom: 60px;
}

.section-header 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.section-header .section-title 
{
    margin-bottom: 0; 
}

.section-title 
{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #000000;
    border-left: 5px solid #005eff;
    padding-left: 15px;
}

.card-list 
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list-card 
{
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid #eee;
    border-radius: 40px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.list-card:hover 
{
    transform: translateY(-3px);
    box-shadow: 0px 8px 20px rgba(0,0,0,0.1);
    border-color: #005eff;
}

.card-img 
{
    width: 100px;
    height: 100px;
    border-radius: 60px;
    background-size: cover;
    background-position: center;
    margin-right: 25px;
}

.user-type .card-img.user-img 
{
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #bbbbbb;
}

.card-info 
{
    flex: 1;
}

.card-info h4 
{
    margin: 0px 0px 8px 0px;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

.card-info p 
{
    margin: 0;
    font-size: 16px;
    color: #666666;
}

.card-actions 
{
    margin-left: 20px;
}

.see-more
{
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.see-more:hover 
{
    color: #005eff;
}