* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body 
{
    font-family: 'Noto Sans KR', sans-serif;
    height: 100vh; 
    display: flex;
    overflow: hidden; /* 스크롤 방지 */
}

.left-panel 
{
    width: 40%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 0 15px rgba(0,0,0,0.1);
}

.top-section 
{
    height: 60%;
    background-color: #005EFF;
    color: white;
    padding: 40px; 
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.bg-icon 
{
    position: absolute;
    bottom: -250px;
    right: -100px;
    font-size: 600px;
    color: white;
    opacity: 0.3;
    transform: rotate(220deg);
    pointer-events: none;
    z-index: 0;
}

.bottom-section 
{
    height: 40%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7% 0%;
}

.logo 
{
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 24px; 
    font-weight: 700;
    display: flex;
    align-items: center;
}

.logo-text
{
    padding: 0px 0px 0px 10px;
}

.headline 
{
    padding: 15% 0%;
    font-size: 84px; 
    font-weight: 900;
    line-height: 100px;
    word-break: keep-all;
}

.login-form 
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 320px;
}

.input-group input 
{
    width: 100%;
    padding: 16px;
    font-size: 16px;
    border: 1px solid #dddddd;
    border-radius: 12px;
    background-color: #f9f9f9;
}

.input-group input:focus 
{
    border-color: #005EFF;
    background-color: #ffffff;
    box-shadow: 0 0 0 3px rgba(0, 94, 255, 0.1);
}

.login-btn 
{
    width: 100%;
    padding: 16px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    background-color: #005EFF;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 10px;
}

.login-btn:hover 
{
    background-color: #004ecc;
}

.links 
{
    margin-top: 24px;
    font-size: 14px;
    color: #888;
}

.links a 
{
    color: #666;
    text-decoration: none;
    transition: color 0.2s;
}

.links a:hover 
{
    color: #005EFF;
    text-decoration: underline;
}

.separator 
{
    margin: 0 10px;
    color: #ddd;
}

.right-panel 
{
    width: 60%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
}

.slider-wrapper 
{
    display: flex;
    width: 300%;
    height: 100%;
    animation: slide 15s infinite;
}

.slide 
{
    width: 33.333%;
    height: 100%;
    position: relative;
}

.slide img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slide 
{
    0% { transform: translateX(0); }
    30% { transform: translateX(0); }
    
    33% { transform: translateX(-33.333%); }
    63% { transform: translateX(-33.333%); }
    
    66% { transform: translateX(-66.666%); }
    96% { transform: translateX(-66.666%); }
    
    100% { transform: translateX(0); }
}