body 
{
    background-color: #faf9f1;
    margin: 0;
    overflow: hidden;
}

.bg-icon 
{
    position: absolute;
    bottom: -400px;
    right: 10px;
    font-size: 1500px;
    color: #005eff;
    opacity: 0.1;
    transform: rotate(210deg);
    pointer-events: none;
    z-index: -1;
}

header 
{
    height: 50px;
    background-color: #005eff;
    color: #FFFFFF;
    display: flex;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    align-items: center;
    padding: 10px 30px;
    position: relative;
}

.logo 
{  
    display: flex;
    text-decoration: none;  
    color: #ffffff;
    font-size: 24px;   
    font-weight: 700;     
}

.logo-text
{
    padding: 0px 0px 0px 10px;
}

.register-design
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

.register-box 
{
    background-color: #ffffff;
    border-radius: 20px;
    padding: 40px 30px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 420px;
    text-align: center;
}

.register-box h1 
{
    font-size: 22px;
    margin-bottom: 25px;
    color: #005eff;
}

input, select
{
    width: 90%;
    box-sizing: border-box; 
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
}
    
select 
{
    color: #757575;
}

select:focus, select:valid 
{
    color: #000000;
}

.register-btn 
{
    width: 90%;
    padding: 16px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    background-color: #005EFF;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 10px;
}

.register-btn:hover
{
    background-color: #004ecc;
}

.back-link 
{
    margin-top: 18px;
    font-size: 14px;
}

.back-link a 
{
    color: #005eff;
    text-decoration: none;
}

.back-link a:hover 
{
    color: #004ecc;
}

.find-password-link
{
    padding-top: 10px;
    padding-bottom: 20px;
}