<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Register</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    
    <link rel="stylesheet" href="/asset/style-register-fixprofile.css">
</head>
<body>
    <header class="top-header">
        <a href="main.html" class="logo">
            <i class="fas fa-plane-departure"></i> 
            <span class="logo-text">Travel</span>
        </a>
    </header>

    <div class="bg-icon">
        <i class="fas fa-plane"></i>
    </div>

    <div class="register-design">
        <div class="register-box">
            <h1>회원정보수정</h1>
            <form method="POST">
                <input type="text" placeholder="이름" required>
                <select name="gender" required>
                    <option value="" disabled selected>성별 선택</option>
                    <option value="male">남성</option>
                    <option value="female">여성</option>
                </select>
                <input type="email" placeholder="이메일" required>
                <input type="Country" placeholder="선호국가" required>
                <input type="password" placeholder="비밀번호" required>
                <button type="submit" class="register-btn">수정하기</button>
            </form>
            <div class="back-link">
                <a href="/mypage">← 수정하지 않고 돌아가기</a>
            </div>
        </div>
    </div>
</body>
</html>